* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;

   --color-tagAOut: #8D8D99;
   --color-tagAOver: #FFFFFF;
   --color-text: #E1E1E6;
   --color-buttonOut: #FFFFFF;
   --color-buttonOver: #02799D;
   --ff-primary: 'Roboto', sans-serif;
}

body {
   font-size: 1.6rem;
   background-color: black;
   font-family: var(--ff-primary);
   font-weight: 400;

   height: 100vh;
}

body[data-page='home'] {
   background: url(../img/bgHome.png) center center/cover no-repeat;
}

body[data-page='universe'] {
   background: url(../img/bgUniverse.png) center center/cover no-repeat;
}

body[data-page='exploration'] {
   background: url(../img/bgExploration.png) center center/cover no-repeat;
}

.page {
   max-width: 128.0rem;
   margin: auto;
   display: flex;
   flex-direction: column;

   height: 100%;
   width: 100%;
}

header {
   display: flex;
   align-items: center;
   gap: 3.3rem;
}

header img {
   padding: 4.0rem 0 4.0rem 7.2rem;
}

header ul {
   display: flex;
   gap: 3.2rem;
   list-style: none;
}

header ul li a {
   font-size: 2.4rem;
   line-height: 2.2rem;
   text-decoration: none;
   color: var(--color-tagAOut);
}

header ul li a.selected {
   font-weight: 700;
   color: var(--color-tagAOver);
}

header ul li a:hover {
   font-weight: 700;
   color: var(--color-tagAOver);
}

header img, header a {
   cursor: pointer;
}

main {
   flex: 1;

   color: var(--color-text);
}

main .home {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2.4rem;
   text-align: center;

   width: 100%;
   height: 100%;
}

main h1 {
   font-weight: 700;
   font-size: 4.8rem;
   line-height: 125%;
}

main .home button {
   border: 2px solid var(--color-buttonOut);
   border-radius: 0.5rem;
   background-color: transparent;
   color: var(--color-buttonOut);
   font-weight: 700;
   text-transform: uppercase;
   font-size: 1.4rem;
   line-height: 2.4rem;
   cursor: pointer;

   padding: 1.2rem 3.2rem;
}

main .home button:hover {
   background-color: var(--color-buttonOut);
   color: var(--color-buttonOver);
}

main .universe, main .exploration {
   display: flex;
   flex-direction: column;
   gap: 1.6rem;

   margin: 6.3rem 0 0 10.3rem;
   max-width: 64.8rem;
}

main p {
   font-weight: 400;
   font-size: 1.8rem;
   line-height: 160%;

}